@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;

  --primary: #161616;
  --seccondary: #1E1E1E;
  --blureffect: #ffffff19;
}

body {
  font-family: "Lato", sans-serif;
  /* background: linear-gradient(60deg, var(--slate-100) 0%, var(--gray-100) 50%); */
  background-color: var(--primary);
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload Image';
  display: inline-block;
  background: #3b82f6;
  border-radius: 20px;
  padding: 0.6rem 2rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}